---
import MarkdownLayout from "src/layouts/MarkdownLayout.astro";
import What from "src/components/hny/What.mdx";
import { Icon } from "astro-icon";
---

<MarkdownLayout title="HNY" slug="hny">
  <nav class="flex items-center gap-2">
    <a
      href="/hny/facts/th"
      class="mb-4 flex items-center gap-2 hover:underline no-underline"
      >ภาษาไทย
      <Icon class="w-4 h-4" name="emojione:flag-for-thailand" />
    </a>
    <a
      href="#"
      class="mb-4 flex items-center gap-2 hover:underline no-underline"
      >English
      <Icon class="w-4 h-4" name="emojione:flag-for-united-states" />
    </a>
  </nav>
  <What />
</MarkdownLayout>
