---
import { getCollection } from 'astro:content';
export const prerender = true;

export async function getStaticPaths() {
  const collections = await getCollection("front")
  return collections.map(({ slug }) => {
    return {
      params: {
        slug
      }
    }
  })
}

const { slug } = Astro.params;

import { getEntry } from "astro:content";
import MarkdownLayout from "src/layouts/MarkdownLayout.astro";
const thatPage = await getEntry("front", slug);
const { Content } = await thatPage.render();
---

<MarkdownLayout title={thatPage.data.name} path={thatPage.data.path}>
  {thatPage.data.status === "discontinued" && 
    <div class="rounded-md bg-neutral-800 w-min px-2 py-1 flex items-center gap-2 mb-2">
      <span class="rounded-full bg-neutral-500 p-1.5"></span>
      Discontinued
    </div>
  }
  <Content />
</MarkdownLayout>
