---
import Layout from "../layouts/Layout.astro";
const pages = [...Array(21).keys()].map((i) => i + 1);
---

<Layout title="Quattonary">
  <div class="wrapper">
    <section>
      {
        pages.map((page) => (
          <article
            style={{
              backgroundColor: `hsl(0, 0%,  ${Math.floor(
                Math.random() * 20
              )}%)`,
            }}
          >
            <div class="inner">{page}</div>
          </article>
        ))
      }
    </section>
  </div>
</Layout>

<style lang="scss">
  .wrapper {
    @apply w-full h-full flex items-center justify-center overflow-hidden;
  }

  section {
    @apply grid place-items-stretch aspect-square;
    width: 80vmin;
    grid-template-rows: repeat(112, 1fr);
    grid-template-columns: repeat(112, 1fr);
  }

  article {
    @apply flex items-center justify-center;
    background-color: var(--color-text);
  }

  .inner {
    @apply absolute;
    width: inherit;
    background-color: inherit;
    background-clip: text;
    color: transparent;
    filter: invert(1);
  }

  // DON'T EVER EDIT THIS
  $widths: 50, 35, 27, 8, 19, 15, 17, 11, 6, 24, 29, 25, 9, 2, 7, 18, 16, 42, 4,
    37, 33;

  @for $i from 1 through 21 {
    section > article:nth-child(#{$i}) {
      $width: nth($widths, $i);
      font-size: calc($width / 2) + px;
      grid-column: span $width / span $width;
      grid-row: span $width / span $width;
    }
  }
</style>
