---
import Layout from "../layouts/Layout.astro";
const pages = [...Array(21).keys()];
---

<Layout title="Quattonary">
  <div class="wrapper">
    <section>
      {
        pages.map((page) => (
          <article
            style={{
              backgroundColor: `hsl(0, 0%,  ${Math.floor(
                Math.random() * 20
              )}%)`,
            }}
          >
            <div class="inner">{page}</div>
          </article>
        ))
      }
    </section>
  </div>
</Layout>

<style lang="scss">
  .wrapper {
    @apply w-full h-full flex items-center justify-center overflow-hidden;
  }

  section {
    @apply grid place-items-stretch aspect-square;
    width: 80vmin;
    grid-template-rows: 27fr 8fr 11fr 4fr 2fr 7fr 11fr 5fr 4fr 33fr;
    grid-template-columns: 29fr 4fr 17fr 4fr 9fr 2fr 5fr 12fr 3fr 3fr 5fr 19fr;
  }

  article {
    @apply flex items-center justify-center;
    background-color: var(--color-text);
  }

  .inner {
    @apply absolute;
    width: inherit;
    background-color: inherit;
    background-clip: text;
    color: transparent;
    filter: invert(1);
  }

  section > *:nth-child(1) {
    @apply col-span-3 row-span-4;
  }

  section > *:nth-child(2) {
    @apply col-span-6 row-span-2;
  }

  section > *:nth-child(3) {
    @apply col-span-3 row-span-1;
  }

  section > *:nth-child(4) {
    @apply col-span-2 row-span-1;
  }

  section > *:nth-child(5) {
    @apply col-span-1 row-span-2;
  }

  section > *:nth-child(6) {
    @apply col-span-3 row-span-2;
  }

  section > *:nth-child(7) {
    @apply col-span-2 row-span-3;
  }

  section > *:nth-child(8) {
    @apply col-span-3 row-span-1;
  }

  section > *:nth-child(9) {
    @apply col-span-2 row-span-2;
  }

  section > *:nth-child(10) {
    @apply col-span-2 row-span-4;
  }

  section > *:nth-child(11) {
    @apply col-span-1 row-span-5;
  }

  section > *:nth-child(12) {
    @apply col-span-3 row-span-4;
  }

  section > *:nth-child(13) {
    @apply col-span-1 row-span-2;
  }

  section > *:nth-child(14) {
    @apply col-span-1 row-span-1;
  }

  section > *:nth-child(15) {
    @apply col-span-2 row-span-1;
  }

  section > *:nth-child(16) {
    @apply col-span-3 row-span-2;
  }

  section > *:nth-child(17) {
    @apply col-span-3 row-span-2;
  }

  section > *:nth-child(18) {
    @apply col-span-5 row-span-3;
  }

  section > *:nth-child(19) {
    @apply col-span-1 row-span-1;
  }

  section > *:nth-child(20) {
    @apply col-span-5 row-span-2;
  }

  section > *:nth-child(21) {
    @apply col-span-2 row-span-1;
  }
</style>
