---
import Layout from "src/layouts/Layout.astro";
import Libravue from "@components/libravy/Libravy.vue";
---

<Layout title="Libravy" slug="libravy">
  <section class="header">
    <article>
      <h1>A library where every book is written by one author.</h1>
      <h2>Coming soon...</h2>
    </article>
  </section>
  <Libravue />
</Layout>

<style lang="scss" is:global>
  $color-theme: hsl(153, 48%, 49%);

  article {
    @apply prose prose-invert;
    margin: auto;
  }

  section {
    padding: 2rem;
    &.header {
      background-color: $color-theme;
    }
  }
</style>
