---
import Layout from "src/layouts/Layout.astro";
import Libravune from "@components/libravune/Libravune.vue";

const res = await fetch("https://www.colr.org/json/colors/random/16");
const json = await res.json();
const books = json.colors;
---

<Layout title="Libravune" slug="libravune">
  <section class="header">
    <article>
      <h1 class="italic">
        "A library where every book is written by one author."
      </h1>
      <h2>- Quatton</h2>
    </article>
  </section>
  <Libravune client:load {books} />
</Layout>

<style lang="scss" is:global>
  section {
    &.header {
      padding: 2rem;
      background-color: var(--color-vue);
      article {
        @apply prose prose-invert;
        margin: auto;
      }
    }
  }
</style>
