<header class="w-full flex items-center px-4 py-4">
  <a href="/"> Quattonary</a>
</header>

<style>
  header {
    background-color: var(--color-bg);
  }

  header > a {
    @apply select-none;
    font-size: 1.5em;
    font-family: "Merriweather", serif;
    font-weight: 700;
  }
</style>
