---
import { Icon } from "astro-icon";
import { getEntry, type CollectionKey, type DataCollectionKey, type ContentCollectionKey } from "astro:content";
import { isDataCollection } from "src/utils/type-guard";

export interface Props {
  path: string;
  collection?: ContentCollectionKey | DataCollectionKey;
}


const { path, collection = "front"} = Astro.props as Props;
const page = path ? 
  collection === "blogMeta" ? 
    await getEntry(collection, path) : 
  collection === "front" ?
    await getEntry(collection, path) :
    undefined :
  undefined;

  // most stupid typescript error ever
---

<header class="w-full flex items-center px-4 py-4 h-16">
  <nav class="flex gap-4 items-center">
    <a class="home" href="/">Quattonary</a>
    {
      page?.data && (
        <>
          <div class="h-6 border-l-2 border-l-slate-50" />
          <a class="page" href={`/${collection === "front" ? "" : `blog/`}${path}`}>
            {page.data.cover && <Icon name={page.data.cover} color={page.data.color} />}
            {page.data.title}
          </a>
        </>
      )
    }
  </nav>
</header>

<style lang="scss">
  header {
    background-color: var(--color-bg);
  }

  header a {
    @apply select-none hover:-translate-y-1 transition-transform duration-200;

    &.home {
      font-size: 1.5em;
      font-family: "Merriweather", serif;
      font-weight: 700;
    }

    &.page {
      @apply flex items-center gap-1 relative;
      [astro-icon] {
        @apply w-4;
      }
    }
  }
</style>
