---
import Layout from "src/layouts/Layout.astro";
import BuiltWith from "./BuiltWith.astro";

export interface Props {
  title: string;
  slug?: string;
}

const { title = "Quattonary", slug } = Astro.props as Props;
---

<Layout {...{title, slug}}>
  <section>
    <article>
      <slot />
    </article>
  </section>
</Layout>

<style is:global>
  article {
    @apply prose prose-invert;
    margin: auto;
  }

  section {
    padding: 2rem;
  }
</style>
