---
const { pages } = Astro.props as { pages: number[] };
---

{
  pages.map((page, idx) => (
    <div
      class="w-full h-screen flex items-center justify-center snap-center"
      style={{
        backgroundColor: `#${Math.floor(Math.random() * 16777216)
          .toString(16)
          .padStart(6, "0")}`,
      }}
      id={idx.toString()}
    >
      <h1>{page}</h1>
    </div>
  ))
}
